// APP GLOBAL CSS IN SCSS FORM
a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #EEEEEE;
}

// LOGIN FORM
.login-logo {
  width: 120px;
}

.login-card {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.title-form {
  padding-top: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.subtitle-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-form {
  padding: 0px 20px 20px 20px;
}

.login-btn {
  height: 50px;
  width: 91%;
  padding: 0px 20px 0px 20px;
  margin: 0 auto;
  margin-top: 20px;
}

// REGISTER AND EDIT FORM
.register-card,
.edit-card,
.item-card {
  border-radius: 10px !important;
  width: 500px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  height: auto;
  height: 520px;
}

.item-form {
  display: flex;
  flex-direction: column;
  height: auto;
  height: 692px;
}

.register-form {
  display: flex;
  flex-direction: column;
  height: auto;
  height: 434px;
}

.register-form-title,
.edit-form-title,
.item-form-title {
  margin-top: -5px;
  margin-bottom: -10px;
}

.register-form .q-input,
.edit-form .q-input,
.item-form .q-input {
  padding: 0px 30px 30px 30px;
}

.register-form .q-select,
.edit-form .q-select {
  padding: 0px 30px 30px 30px;
}

.register-btn,
.edit-btn,
.item-btn {
  height: 50px;
  width: 88%;
  padding: 0px 20px 0px 20px;
  margin: 0 auto;
  font-size: medium;
  font-weight: bolder;
}

// MAIN LAYOUT SIDEBAR AND HEADER
.q-page-container {
  margin-bottom: 10px;
}

.myHeader {
  color: black;
}

.userName {
  font-weight: 400;
}

.myDropdown {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.btn-profile {
  margin-bottom: 10px;
  width: 100px;
}

// INVENTORY AND USERS TABLES
.q-field--dense .q-field__control {
  height: 35px;
  width: 200px;
}

.my-sticky-header-table {
  // height or max-height is important
  height: 93vh;

  .q-table__card {
    border-radius: 0px;
  }

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    // bg color is important for th; just specify one
    background-color: #EEEEEE;
  }

  thead tr th {
    position: sticky;
    z-index: 1;
  }

  thead tr:first-child th {
    top: 0;
  }

  // this is when the loading indicator appears
  &.q-table--loading thead tr:last-child th {
    // height of all previous header rows
    top: 48px;
  }

  // prevent scrolling behind sticky top row on focus
  tbody {
    // height of all previous header rows
    scroll-margin-top: 48px;
  }
}

// PRODUCT DETAILS TABLE
.product-detail-table {
  scale: 1.1;
  width: 60%;
  max-width: 60% !important;
  height: auto;
}

.product-detail-table thead {
  background-color: #EEEEEE;
}

.close-product-detail-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px;
}
